/* ==========================================================================
   Base
   ========================================================================== */

/*
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    // font-family: $font-family; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
    font-weight: 100;
}

/*
 * Remove default margin.
 */

body {
    margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

a{
  text-decoration: none;
}
/*
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/*
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}

#covering-div {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  transition: opacity 1.2s ease;
}

/* helper classes */
.top-left {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.hide {
  opacity: 0;
  filter: alpha(opacity=0);
}

/* required by doubleclick */
#bg-exit {
  background-color: rgba(255,255,255,0);
  cursor: pointer;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

