@import '../global.scss';
@import '../normalize.scss';

#banner {
  width: {{width}} + px;
  height: {{height}} + px;
  position: relative;
  background-size: 100% 100% !important;
}

.full-dimension {
  width: {{width}} + px;
  height: {{height}} + px;
}

.slide__container {
  width: 160px;
  height: 600px;
  position: absolute;
  top: 7px;
  left: 0px;
}