@import './global.scss';
@import './normalize.scss';

.banner {
  background-size: 100% 100% !important;
  height: {{height}} + px;
  width: {{width}} + px;
}

.banner-border {
  position: absolute;
  height: {{height}} - 2 + px;
  width: {{width}} - 2 + px;
  border: 1px solid #000;
}

.full-dimension {
  height: {{height}} + px;
  width: {{width}} + px;
}

.slide-container {
  height: {{height}} + px;
  width: {{width}} + px;
}
