@import '../global.scss';
@import '../normalize.scss';

.banner {
  background-size: 100% 100% !important;
  height: 600 + px;
  width: 160 + px;
}

.full-dimension {
  height: 600 + px;
  width: 160 + px;
}

.slide-container {
  height: 600 + px;
  width: 160 + px;
}
