@import './global.scss';
@import './normalize.scss';

.banner {
  background-size: 100% 100% !important;
  height: 480 + px;
  width: 320 + px;
}

.banner-border {
  position: absolute;
  height: 480 - 2 + px;
  width: 320 - 2 + px;
  border: 1px solid #000;
  z-index: 3;
  z-index: 20000;
}

.full-dimension {
  height: 480 + px;
  width: 320 + px;
}

.slide-container {
  height: 480 + px;
  width: 320 + px;
}

.slide-item-logo,
.slide-item-arrow,
.slide-item-message {
  height: 10%;
  width: 10%;
  z-index: 100;
}

.slide-item-message {
  background-repeat: no-repeat !important;
  height: 100%;
  left: 0;
  padding: 0;
  position: absolute;
  top: 165px;
  width: 100%;
}

.slide-item-logo {
  width: 23%;
  height: 30%;
  z-index: 1;
  top: -1px;
  left: 13px;
}

.slide-item-arrow {
  background-repeat: no-repeat !important;
  height: 3%;
  left: 270px;
  position: absolute;
  top: 266px;
  width: 4%;
}
