@import '../global.scss';
@import '../normalize.scss';

.banner {
  background-size: 100% 100% !important;
  height: 90 + px;
  width: 728 + px;
}

.banner-border {
  position: absolute;
  height: 90 - 2 + px;
  width: 728 - 2 + px;
  border: 1px solid #000;
}

.full-dimension {
  height: 90 + px;
  width: 728 + px;
}

.slide-container {
  height: 90 + px;
  width: 728 + px;
}
